*.py linguist-language=Python
*.ipynb linguist-language=Jupyter Notebook

/Data/** linguist-vendored
/archive/** linguist-vendored
/models/** linguist-vendored
/results/** linguist-vendored

*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.bmp linguist-vendored
*.dat linguist-language=Text
*.out linguist-language=Text
*.txt linguist-language=Text
